# Este es un comentario.
# Cada línea es el patrón de un archivo seguido por uno o más propietarios.

# Estos propietarios serán los propietarios predeterminados para todo el repositorio. A menos que una coincidencia posterior tenga prioridad,
# se le solicitará una revisión a los usuarios cuando alguien abra una solicitud de extracción.
*       @softcrumhq/architecture
