# Configuracion de GitIgnore

# Rutas para dependencias
/node_modules

# Rutas para pruebas
/coverage

# Rutas para produccion
/.next
/bin
/build
/dist
/out

# Rutas para carpetas y archivos
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
node.log
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
