name: Pipeline Integration

on:
  push:
    branches:
      - master
      - release
      - develop
      - bugfix/*
      - dependabot/*
      - feature/*
      - hotfix/*
  pull_request_target:
    branches:
      - master
      - release
      - develop
      - bugfix/*
      - dependabot/*
      - feature/*
      - hotfix/*

jobs:

  pipeline:
    if: contains(github.event.commits[0].message, 'chore(release)') == false && contains(github.event.commits[0].message, 'chore(publish)') == false
    name: Pipeline
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ['14.x']
        os: [ubuntu-latest]
    steps:
    - name: Configuration - Git Checkout
      uses: actions/checkout@v3.0.2
      with:
        fetch-depth: 0
        token: ${{ secrets.GH_COMMIT }}
    - name: Install - NodeJS ${{ matrix.node-version }}
      uses: actions/setup-node@v2.5.0
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: https://npm.pkg.github.com/
        scope: '@softcrumhq'
    - name: Run script - install
      uses: borales/actions-yarn@v2.3.0
      with:
        cmd: install
    - name: Run script - lint:check
      uses: borales/actions-yarn@v2.3.0
      with:
        cmd: lint:check
    - name: Run script - lint:duplicate
      uses: borales/actions-yarn@v2.3.0
      with:
        cmd: lint:duplicate
    - name: Run script - test
      uses: borales/actions-yarn@v2.3.0
      with:
        cmd: test
    - name: Run script - sonarcloud
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GH_COMMIT }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    timeout-minutes: 10
