name: Pipeline Publish

on:
  registry_package:
    types: [published, updated]

jobs:
  changelog:
    name: Pipeline
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ['14.x']
        os: [ubuntu-latest]
    steps:
    - name: Run script - git checkout
      uses: actions/checkout@v2.4.0
      with:
        fetch-depth: 0
        token: ${{ secrets.GH_COMMIT }}
    - name: Run script - setup
      uses: actions/setup-node@v2.5.0
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: https://npm.pkg.github.com/
        scope: '@softcrumhq'
    - name: Run script - install
      uses: borales/actions-yarn@v3
      with:
        cmd: install
    - name: Run script - changelog
      uses: borales/actions-yarn@v3
      with:
        cmd: actions:changelog
    - name: Run script - version
      uses: borales/actions-yarn@v3
      with:
        cmd: actions:version
    - name: Run script - gpg
      uses: crazy-max/ghaction-import-gpg@v4
      with:
        git-commit-gpgsign: true
        gpg-private-key: ${{ secrets.GPG_KEY }}
        git-user-signingkey: true
        passphrase: ${{ secrets.GPG_PASSPHRASE }}
    - name: Run script - commit changes
      run: |
            git config user.name ${{ secrets.GH_NAME }}
            git config user.email ${{ secrets.GH_EMAIL }}
            git add -A
            git commit -S -m "chore(publish): Se actualizan los archivos CHANGELOG.md y README.md"
            git push
    timeout-minutes: 5
